# Rust build artifacts
target/

# Database files
*.db
*.db-shm
*.db-wal

# Markov data
markovs/

# Environment and Secrets
.env

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
